<%- include('../partials/body') %>

</head>

<body>
  <%- include('../partials/nav') %>

     <main class = "container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 font-semibold">
  <h2 class=" text-3xl text-center">Your home details are here</h2> 

 
     </main>
</body>

</html>
