 <header class="bg-red-500 text-white p-4 shadow-md" >
    <nav class="container mx-auto flex justify-between items-center">
      <ul class="flex space-x-4 text-sm">
         <li>
    <a href ="/" class="<%= currentPage=== 'home' ? 'bg-red-400':' hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">Home</a>
    </li>
        <li>
    <a href ="/host/add-home" class="<%= currentPage=== 'add-home' ? 'bg-red-400':' hover:bg-red-400' %> py-2 px-4 rounded transition duration-300">Add Home</a>
    </li>
      </ul>
    </nav>
     </header>  

     <!-- class="<%= currentPage=== 'home' ? 'bg-red-400':' hover:bg-red-400' %> 
      
     this is because of the effect that the buttons like home and add home at nav bar will be active when user is at that page-->