<%- include('../partials/body') %>  

</head>
<body class="ml-2 mr-2">
  <%- include('../partials/nav') %>    <!-- partials -->

    
     <main class = "container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 font-semibold">
  <h2 class=" text-3xl text-center">Welcome to airbnb</h2> 
     </main>
  
</body>
</html> 